body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
}

ol, ul {
  padding-left: 40px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(rgb(134, 87, 173));
  border: 1px solid rgb(105, 24, 172);
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: rgb(112, 7, 197);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
  padding-left: 30%;
}

.game-info {
  margin-left: 20px;
}
